src/data/workflows/Podcast to WordPress Blog Post Automation.json
{
  "name": "Podcast to WordPress Blog Post Automation",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "event": "fileCreated",
        "options": {
          "fileType": "application/vnd.google-apps.audio"
        }
      },
      "id": "8cd5873e-86a3-4bde-ab97-f2088c683c46",
      "name": "New Audio File in Drive",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        240,
        304
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "temperature": 0
        }
      },
      "id": "2d86f760-c392-4549-9699-0e166f3dea0c",
      "name": "Transcribe with Whisper",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        464,
        304
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "claude-3-5-sonnet-20241022"
        },
        "messages": {
          "values": [
            {
              "content": "=Transform the following podcast transcript into an SEO-optimized blog post with:\n1. An engaging SEO title\n2. A brief introduction (2-3 sentences)\n3. Key points as bullet points\n4. A summary paragraph\n\nFormat the output as HTML ready for WordPress.\n\nTranscript:\n{{ $json.text }}"
            }
          ]
        },
        "options": {
          "maxTokens": 4096,
          "temperature": 0.7
        }
      },
      "id": "e5c2a255-6ffe-4f67-8e1f-09c6d8c895b0",
      "name": "Format as Blog Post",
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [
        688,
        304
      ]
    },
    {
      "parameters": {
        "title": "={{ $json.response.split(\"<h1>\")[1].split(\"</h1>\")[0] }}",
        "additionalFields": {
          "content": "={{ $json.response }}",
          "status": "draft"
        }
      },
      "id": "418132aa-9ba2-43d1-86ee-efb93e300bc6",
      "name": "Create WordPress Draft",
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        1040,
        304
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "New Audio File in Drive": {
      "main": [
        [
          {
            "node": "Transcribe with Whisper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe with Whisper": {
      "main": [
        [
          {
            "node": "Format as Blog Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format as Blog Post": {
      "main": [
        [
          {
            "node": "Create WordPress Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "7cc4e0d1-91c6-47c1-82ed-1151a3b7f04c",
  "meta": {
    "instanceId": "91bb080366dc39950e8445a34f5a87938d9b95b9516f871c6de7c61655bae0b8"
  },
  "nodeGroups": [],
  "id": "uF9ESfBmimXnvWs0",
  "tags": []
}