src/data/workflows/Predictive Legislative Impact Engine for Client Profiling (1).json
{
  "name": "Predictive Legislative Impact Engine for Client Profiling",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "receive-legislation-data",
        "options": {}
      },
      "id": "e127fba1-36ec-45c7-88b3-cad1bc30dbfb",
      "name": "Receive Legislation Data",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        112,
        240
      ],
      "webhookId": "6f3ac969-b77c-4ad4-adf0-539acb5ff337"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert legislative analyst. Analyze the incoming bill data. Return a strictly valid JSON object containing an array called \"matches\". Every item in that array must include the original bill tracking details alongside the client info.\n\nRequired JSON Output Format:\n{\n  \"matches\": [\n    {\n      \"bill_id\": \"{{ $json.body.bill_id }}\",\n      \"bill_title\": \"{{ $json.body.title }}\",\n      \"client_name\": \"Client Name Here\",\n      \"impact_summary\": \"Why this bill impacts this specific client.\"\n    }\n  ]\n}\n\nBill Text:\n{{ $json.body.text }}",
        "batching": {}
      },
      "id": "1e44d727-6242-4e1a-b5df-a58b2b1f9c20",
      "name": "Analyze Bill Impact",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        336,
        240
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "ca8ebc09-897a-479e-954c-b4bce421240a",
      "name": "OpenAI GPT Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        416,
        464
      ],
      "credentials": {
        "openAiApi": {
          "id": "Ss6evl0s34Dy4WKq",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.matches",
        "options": {}
      },
      "id": "474c4b31-c744-4253-a342-5b9da1b950bc",
      "name": "Split Client Matches",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        688,
        240
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "<__PLACEHOLDER_VALUE__Your Airtable Base ID (e.g., appYourBaseId)__>"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "<__PLACEHOLDER_VALUE__Your Airtable Table ID (e.g., tblYourTableId)__>"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Bill ID": "={{ $json.bill_id }}",
            "Bill Title": "={{ $json.bill_title }}",
            "Impacted Client": "={{ $json.client_name }}",
            "Analysis Summary": "={{ $json.impact_summary }}"
          }
        },
        "options": {}
      },
      "id": "4c85750e-bbc7-4f4a-a2b3-4c28506a6bb6",
      "name": "Log to Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        912,
        240
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Receive Legislation Data": {
      "main": [
        [
          {
            "node": "Analyze Bill Impact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Bill Impact": {
      "main": [
        [
          {
            "node": "Split Client Matches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI GPT Model": {
      "ai_languageModel": [
        [
          {
            "node": "Analyze Bill Impact",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Split Client Matches": {
      "main": [
        [
          {
            "node": "Log to Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d39c00ba-2240-4244-98b5-f8bfdf75638b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "91bb080366dc39950e8445a34f5a87938d9b95b9516f871c6de7c61655bae0b8"
  },
  "nodeGroups": [],
  "id": "aH1n5E8gyB5PwyuC",
  "tags": []
}